{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-unused-vars": 1,
    "comma-dangle": 0
  },
  "globals": {
    "window": true,
    "document": true
  }
}