.contact {
  .inner-container {
    @include introduceFadeInDelayed;

    display: flex;
    justify-content: space-between;
  }

  padding-top: 60px;
  padding-bottom: 80px;
  background: $primary-section-bg;

  &--text {
    line-height: 1.8em;
    width: 50%;
    display: inline-block;
    margin-top: 50px;
  }

  &--info {
    margin: 50px 0;
    line-height: 1.8em;

    &--place {
      margin: 0;
      text-align: right;
    }

    &--email {
      text-decoration: none;
      font-weight: 700;
      padding-bottom: 6px;
      cursor: pointer;
      color: $accent;
      @include bottom-border;
    }

    @include clear-fix;
  }

  @media screen and (max-width: 560px) {
    .inner-container {
      flex-direction: column;
    }

    &--text {
      width: 100%;
      margin: 30px 0;
    }

    &--info {
      margin: 0;

      @include clear-fix;

      &--email {
        float: right;
      }
    }
  }
}
