.footer {
  .container {
    @include introduceFadeIn;
  }

  padding: 60px 0;
  background-color: $secondary-section-bg;
  font-size: 0.8em;

  &--social {
    float: right;

    &--item {
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 40px;
      transform: translateY(4px);

      &__link {
        text-decoration: none;
        color: $regular-text;
        cursor: pointer;
        padding: 8px 0;
        @include bottom-border;
      }
    }
  }

  &--copyright {
    display: inline-block;
    color: $regular-text;
    font-weight: bold;
    line-height: 1.8em;

    &--name {
      text-transform: uppercase;
      color: $accent;
    }
  }

  @media screen and (max-width: 860px) {
    text-align: center;

    &--social {
      float: none;
      display: inline-block;
      margin-bottom: 20px;

      &--item {
        margin: 0 20px;
      }
    }

    &--copyright {
      display: block;
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    &--social {
      &--item {
        display: block;
        margin-bottom: 30px;
      }
    }
  }
}
