.projects {
  padding-top: 60px;
  padding-bottom: 100px;
  background: $secondary-section-bg;

  &--list {
    list-style-type: none;
    padding-top: 40px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--item {
      width: calc(33.3% - 20px);
      margin-bottom: 30px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px $shadow;
      @include introduceFadeIn;

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.3s ease-in-out;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.8);
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }

      &--img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease-in-out;
      }

      &--title {
        position: absolute;
        width: 80%;
        text-align: center;
        top: 50%;
        left: 50%;
        margin: 0;
        opacity: 0;
        transform: translate(-50%, -200%);
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        color: $page-title;
        transition: all 0.3s ease-in-out;
        z-index: 1;
      }

      &--see {
        @include button-reset;
        position: absolute;
        bottom: 25%;
        left: 50%;
        margin: 0;
        width: 80%;
        transform: translate(-50%, 300%);
        opacity: 0;
        line-height: 1.4em;
        text-align: center;
        text-transform: uppercase;
        color: $accent;
        font-size: 1em;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
        z-index: 1;
      }

      &__overlay:hover:after {
        opacity: 1;
      }

      &__overlay:hover &--img {
        transform: scale(1.1);
        transform-origin: center;
      }

      &__overlay:hover &--title {
        opacity: 1;
        transform: translate(-50%, -50%);
      }

      &__overlay:hover &--see {
        opacity: 1;
        transform: translate(-50%, 150%);
      }
    }
  }

  &--graphics {
    text-align: center;
    margin-top: 60px;

    &--title {
      font-size: 1em;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: $accent;
      @include x-separator;
    }

    &--link {
      color: $regular-text;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      padding: 8px 0;
      @include bottom-border;
    }
  }

  @media screen and (max-width: 760px) {
    &--list {
      &--item {
        margin-bottom: 25px;
        width: 47.5%;
      }
    }
  }

  @media screen and (max-width: 460px) {
    &--list {
      &--item {
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }
}
