@import "tools/_normalize";
@import "tools/_colors";
@import "tools/_fonts";
@import "_header";

body {
  margin: 0;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-container {
  max-width: 720px;
  margin: 0 auto;
}

.subheader {
  text-transform: uppercase;
  color: $accent;
  margin: 0.5em 0;
}

.section-title {
  font-family: 'Playfair Display', serif;
}
