@import "tools/_normalize";
@import "tools/_colors";
@import "tools/_fonts";
@import "_header";
@import "_about";
@import "_projects";
@import "_contact";

body {
  margin: 0;
  font-size: 11pt;
  color: $regular-text;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-container {
  max-width: 720px;
  margin: 0 auto;
}

.subheader {
  text-transform: uppercase;
  color: $accent;
  margin: 0.5em 0;
  font-size: 1em;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  color: $section-title;
  margin: 0.5em 0;

  &:after {
    content: "";
    width: 30px;
    height: 3px;
    display: block;
    margin-top: 30px;
    background: $accent;
  }
}
