$header-bg: #333;
$page-title: #fff;
$accent: #b0976d;
$section-title: #433a32;
$regular-text: #7f7f7f;
$primary-section-bg: #fff;
$secondary-section-bg: #f5f5f5;
$form-input: #ebebeb;
$form-invalid: #d05353;
$form-text: #bcbcbc;
$shadow: #ddd;
