$header-bg: #333333;
$page-title: #ffffff;
$accent: #b0976d;
$section-title: #433a32;
$regular-text: #7f7f7f;
$first-section-bg: #ffffff;
$second-section-bg: #f5f5f5;
$form-input: #ebebeb;
$form-text: #bcbcbc;
