@mixin clear-fix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
}

@mixin bottom-border {
  border-bottom: 3px solid transparent;
  transition: 0.2s all ease-in-out;

  &:hover {
    border-bottom-color: $accent;
  }
}

@mixin x-separator {
  &:before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    top: -30px;
    margin: 0 auto;
    background-image: url('../images/cross.svg');
  }
}
