@mixin clear-fix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin bottom-border {
  border-bottom: 3px solid transparent;
  transition: 0.3s all ease-in-out;

  &:hover {
    border-bottom-color: $accent;
  }
}

@mixin introduce-up {
  opacity: 0;
  transform: translateY(10vh);
  transition: 0.5s all ease-in-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin introduce-down {
  opacity: 0;
  transform: translateY(-10vh);
  transition: 0.5s all ease-in-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin introduce-fade-in {
  opacity: 0;
  transition: 0.5s opacity ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}

@mixin introduce-fade-in-delayed {
  opacity: 0;
  transition: 0.8s opacity ease-in-out;
  transition-delay: 0.3s;

  &.is-visible {
    opacity: 1;
  }
}
