@mixin clear-fix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin bottom-border {
  border-bottom: 3px solid transparent;
  transition: 0.2s all ease-in-out;

  &:hover {
    border-bottom-color: $accent;
  }
}

@mixin introduceUp {
  opacity: 0;
  transform: translateY(10vh);
  transition: 500ms all ease-in-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin introduceDown {
  opacity: 0;
  transform: translateY(-10vh);
  transition: 500ms all ease-in-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin introduceFadeIn {
  opacity: 0;
  transition: 500ms opacity ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}

@mixin introduceFadeInDelayed {
  opacity: 0;
  transition: 1000ms opacity ease-in-out;
  transition-delay: 300ms;

  &.is-visible {
    opacity: 1;
  }
}
