ul {
  list-style-type: none;
  padding: 0;
}

input,
textarea {
  background: none;
  border: 0;
  box-shadow: none;
  outline: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}
